/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* /Reset */

/* #region Debug */

.debug #app-header {
    height: 3rem;
    background-color: cyan;
}

.debug .container {
    border: 2px dashed black;
}

.debug #nav>.container {
    height: 2rem;
    background-color: orange;
}

.debug #sec-intro {
    height: 400px;
    background-color: blue;
}

.debug #sec-intro>.container {
    height: 100%;
    background-color: violet;
}

.debug #sec-1,
#sec-3 {
    height: 500px;
    background-color: white;
}

.debug #sec-2 {
    height: 500px;
    background-color: lightgray;
}

.debug #sec-4 {
    height: 800px;
    background-color: lightgray;
}

.debug #foot-top {
    height: 100%;
}

.debug .img {
    background-color: cornflowerblue;
    border: 2px dashed black;
}

.debug .desc {
    background-color: pink;
}

.debug #sec-4>.container {
    background-color: green;
}

.debug #app-footer>#foot-top {
    height: 550px;
    background-color: black;
}

.debug #foot-top>.container {
    height: 100%;
    border: 2px dashed white;
    background-color: salmon;
}

.debug section[id^="sec"]>.container {
    height: 100%;
}

.debug div[class^="col"] {
    border: 1px dashed white;
    height: 100%;
    background-color: lightseagreen;
}

.debug #app-footer>#foot-bottom {
    height: 70px;
    background-color: black;
}

.debug #foot-bottom>.container {
    height: 80%;
    border: 2px dashed white;
    background-color: aquamarine;
}

/* #endregion /Debug */

/* #region Utilities */
html {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {

    width: 70%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

#app-header {
    background-color: #065ee8;
}

#nav {
    padding: 0.5rem;
}

#nav>.container {
    padding: 0.25rem;
    align-items: center;
}

nav {
    justify-content: center;
}

.links a {
    text-decoration: none;
    color: white;
}

.links a:hover {
    text-decoration: underline;
}

.links li {
    list-style: none;
    display: inline-block;
    padding: 0 0.5rem;
}

.login-b {
    border: none;
    border-radius: 20px;
    padding: 9px 20px;
    font-size: 15px;
}

.login-b:hover {
    color: #065ee8;
}

.logo {
    width: 25%;
}

.navbar {
    width: 50%;

}

.login {
    width: 25%;
    justify-content: flex-end;
}

#sec-intro {
    background-image: url("/assets/img/jumbo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 518px;
    padding: 2rem;
}

#sec-intro>.container {
    width: 50%;
    justify-content: center;
    flex-wrap: wrap;
}

#sec-intro h1 {
    color: white;
    margin-top: 5.5rem;
    font-size: 3rem;
}

.intro {
    font-size: large;
    text-align: center;
    color: white;
    margin-top: 3rem;
}

#sec-intro button {
    width: 36%;
    padding: 1rem;
    margin: 3rem 1rem;
    border: none;
    border-radius: 23px;
}

button i {
    padding: 0 0.5rem;
}

.download-b {
    font-size: 15px;
    font-weight: bold;
}

.download-b:hover {
    color: #065ee8;
}

.open-b {
    background-color: #23272a;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.open-b:hover {
    background-color: #303335;
}

#sec-1,
#sec-2,
#sec-3,
#sec-4 {
    padding: 2.5rem;
}

#sec-2, #sec-4 {
    background-color: lightgray;
}

.wave-top {
    color: lightgrey;
    margin-bottom: -10px;
}

.wave-bottom {
    color: lightgrey;
    margin-top: -10px;
    rotate: 180deg;
}

.img {
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    width: 60%;
}

.desc {
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between ;
    width: 40%;
}

.img img {
    height: 90%;
}

.desc {
    padding-top: 2rem;
}

.desc h2 {
    font-size: 40px;
    margin-bottom: 1rem;
}

.desc p {
    font-size: 20px;
}

#sec-4 .container {
    justify-content: center;
    flex-wrap: wrap;
}

#sec-4  h2 {
    font-size: 40px;
    margin: 2rem 0;
}

#sec-4 h3 {
    text-align: center;
    font-size: 25px;
}

#sec-4 p {
    text-align: center;
    font-size: 20px;
}

.big {
    font-weight: bold;
}

.stars {
    width: 80%;
}

.download-b2 {
    font-size: large;
    background-color: #065ee8;
    color: white;
    margin-top: 3rem;
    border: none;
    border-radius: 25px;
    padding: 15px;
}

.download-b2:hover {
    background-color: #8ea1e1;
}

#app-footer {
    background-color: #23272a;
}

#foot-top {
    padding: 0.5rem 0 2rem 0;
}

#foot-top h2 {
    color: #728adb;
    padding: 30px 0;
    font-size: 35px;
    margin-top: 30px;
}

.lang {
    color: white;
}

.lang-b {
    width: 20px;
    margin-right: 5px;
}

div[class^="col"] {
    width: calc(100% / 4);
}

.social {
    width: 40%;
}

#icons {
    margin: 15px 0;
}

#icons a {
    text-decoration: none;
}

#icons i {
    color: white;
}

#icons .fa-instagram, .fa-facebook-f, .fa-youtube {
    margin-left: 20px;
}

.foot-list {
    list-style: none;
    margin-top: 70px;
}

.foot-list a {
    text-decoration: none;
    color: white;
}

.foot-list li {
    padding-top: 10px;
}

.foot-list li:hover {
    text-decoration: underline;
}

.foot-list > .main {
    color: #728adb;
    font-weight: bold;
}

hr {
    border: none;
    height: 0.05rem;
    background-color: #728adb;
}

#foot-bottom>.container {
    padding: 0.5rem;
    align-items: center;
}

.foot-logo {
    width: 50%;
}

.foot-button {
    width: 50%;
    justify-content: flex-end;
}

#foot-bottom {
    align-items: flex-end;
    padding-bottom: 100px;
    padding-top: 20px;
}

.reg-b {
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: #728adb;
    color: white;
}

/* #endregion /Utilities */